/**
 * @file
 * Intel Specific Print CSS
 */

/*
 * Member Roster Print Page
 */

.page-member-roster-print h1.title {
  color: #086DB6;
  font-size: 1.38461538461538em; /* ~18px */
}

.page-member-roster-print table {
  margin-bottom: 20px;
}

.page-member-roster-print table caption {
  background-color: #e3e3e3;
  border-bottom: 1px solid #555;
  font-family: "NeoSansIntel-Medium","tahoma","helvetica",sans-serif;
  font-size: 1.07692307692308em; /* ~14px */
  padding: 10px 10px 5px;
  text-align: left;
}

.page-member-roster-print table tr.odd {
  background-color: #f3f3f3;
}

.page-member-roster-print table td {
  padding: 5px 10px;
}
